@import 'tailwindcss';

@theme {
  --color-primary: #D0E0FF;
  --color-secondary: #E9E8F5;
  --color-success: #72FC29;
  --color-warning: #FFC035;
  --color-error: #FE5A35;
  --color-white: #ffffff;
  --color-dark: #141414;
  --color-beige: #EDE7E7;
  --color-grey: #F0F0F0;
}
